<html>
<head>
</head>
<body>
<style>
    #arena {
        display: inline-grid
    }
    img.profilepic {
        border-radius: 50%
    }
</style>
<div id="arena">
    <div id="content"></div>
</div>
<script>
    const EVENT_URL = {{ url_for("event")|tojson }};
    const SHOWN_URL = {{ url_for("shown")|tojson }};
    const EVENT_POLL_RATE = 2000;

    async function process_result(result) {
        if (result.status == 200) {
            return result.json();
        }
        return
    }

    async function process_event(jsonEvent) {
        if (typeof jsonEvent == 'undefined') {
            document.getElementById("content").innerHTML = "";
        } else {
            document.getElementById("content").innerHTML = battlefieldHTML(jsonEvent);
            await sleep(10000);
            shown(jsonEvent);
        }
        await sleep(EVENT_POLL_RATE);
    }

    function battlefieldHTML(jsonEvent) {
        battlefieldLeft = "";
        for (fighter of jsonEvent['left']) {
            battlefieldLeft += "<img class='profilepic' src="+fighter['gif']+" width=112 height=112>";
        }
        battlefieldRight = "";
        for (fighter of jsonEvent['right']) {
            battlefieldRight += "<img src="+fighter['gif']+">";
        }
        return battlefield = "<div id='left_fighters' class='fighter_row'>" + battlefieldLeft + "</div><div id='right_fighters' class='fighter_row'>" + battlefieldRight + "</div>";
    }

    function shown(json_event) {
        fetch(SHOWN_URL, {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(json_event)
        })
    }

    function refresh() {
        fetch(EVENT_URL)
            .then(process_result)
            .then(process_event)
            .then(refresh);
    }

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

refresh();

</script>
</body>
</html>