<html>
<head>
</head>
<body>
<div id="arena">
    <div id="content"></div>
</div>
<script>
    const EVENTS_URL = {{ url_for("event")|tojson }}
    const EVENT_POLL_RATE = 2000;

    async function process_event(json_event) {
        if (json_event == 1) {
            document.getElementById("content").innerHTML = "<img src={{ url_for('static', filename='bigcat.gif') }}>";
            await sleep(10000);
        } else {
            document.getElementById("content").innerHTML = "";
        }
        await sleep(EVENT_POLL_RATE);
    }

    function refresh() {
        fetch(EVENTS_URL)
            .then(result => result.text())
            .then(process_event)
            .then(refresh);
    }

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

refresh()

</script>
</body>
</html>