<html>
<head>
</head>
<body>
<div id="arena">
    <div id="content"></div>
</div>
<script>
    const EVENT_URL = {{ url_for("event")|tojson }};
    const SHOWN_URL = {{ url_for("shown")|tojson }};
    const EVENT_POLL_RATE = 2000;

    async function process_result(result) {
        if (result.status == 200) {
            return result.json();
        }
        return
    }

    async function process_event(jsonEvent) {
        if (typeof jsonEvent == 'undefined') {
            document.getElementById("content").innerHTML = "";
        } else {
            console.log(jsonEvent)
            document.getElementById("content").innerHTML = battlefieldHTML(jsonEvent);
            await sleep(10000);
            shown(jsonEvent);
        }
        await sleep(EVENT_POLL_RATE);
    }

    function battlefieldHTML(jsonEvent) {
        fighter_gif_template = "<img src={{ url_for('static', filename='proxy.gif') }}>";
        battlefieldLeft = "";
        for (fighter of jsonEvent['left']) {
            battlefieldLeft += fighter_gif_template.replace("proxy.gif", fighter['gif']);
        }
        battlefieldRight = "";
        for (fighter of jsonEvent['right']) {
            battlefieldRight += fighter_gif_template.replace("proxy.gif", fighter['gif']);
        }
        return battlefield = "<p>" + battlefieldLeft + "</p><p>" + battlefieldRight + "</p>";
    }

    function shown(json_event) {
        fetch(SHOWN_URL, {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(json_event)
        })
        .then(result => result.text())
        .then(response_response => console.log(response_response))
    }

    function refresh() {
        fetch(EVENT_URL)
            .then(process_result)
            .then(process_event)
            .then(refresh);
    }

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

refresh();

</script>
</body>
</html>